In [6]:
import pandas as pd
df = pd.read_csv('music.csv')
df #importing data using pandas

    age  gender      genre
0    20       1     HipHop
1    23       1     HipHop
2    25       1     HipHop
3    26       1       Jazz
4    29       1       Jazz
5    30       1       Jazz
6    31       1  Classical
7    33       1  Classical
8    37       1  Classical
9    20       0      Dance
10   21       0      Dance
11   25       0      Dance
12   26       0   Acoustic
13   27       0   Acoustic
14   30       0   Acoustic
15   31       0  Classical
16   34       0  Classical
17   35       0  Classical

In [7]:
df.describe()

             age     gender
count  18.000000  18.000000
mean   27.944444   0.500000
std     5.127460   0.514496
min    20.000000   0.000000
25%    25.000000   0.000000
50%    28.000000   0.500000
75%    31.000000   1.000000
max    37.000000   1.000000

In [10]:
from sklearn.tree import DecisionTreeClassifier
features = df.drop(columns=['genre'])
y = df['genre']
y
features

    age  gender
0    20       1
1    23       1
2    25       1
3    26       1
4    29       1
5    30       1
6    31       1
7    33       1
8    37       1
9    20       0
10   21       0
11   25       0
12   26       0
13   27       0
14   30       0
15   31       0
16   34       0
17   35       0

In [12]:
model = DecisionTreeClassifier()
model.fit(features, y)
model.predict([[36,0]]) #predicts the genre of music for gender 0(woman) with age 36

array(['Classical'], dtype=object)

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

xtrain,xtest,ytrain,ytest = train_test_split(features, y, test_size=0.2) #keep 20% as test set and 80% as training set
model.fit(xtrain,ytrain) #trains model using xtrain and ytrain
predictions = model.predict(xtest) #makes prediction for the xtest set generated

accuracy_score(ytest, predictions) #calculates accuracy of prediction by comparing with actual genres in ytest

0.75